@use './midias-queries' as *;

.center {
    text-align: center;
}

body {
    display: grid;
    grid-template-rows: 85vh 15vh;
}

.main {
    display: grid;
    place-items: center;

    &__container {
        @extend .center;
        width: min(65ch, 100% - 4rem);
        margin-inline: auto;
    }

    &__logo img {
        margin-inline: auto;
        width: clamp(3.5rem, calc(3.23rem + 2.34vw), 4.44rem);
    }

    &__text-content {
        margin: 2rem 0;

        @include desktop {
            margin-top: 1rem;
        }
    }

    &__subtitle {
        margin-top: 1rem;
    }

    .input {
        width: 100%;
        border-radius: 2rem;
    }

    &__form {
        @include desktop {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }

        &-input-box {
            width: 100%;
            position: relative;

            @include desktop {
                max-width: 50%;
            }

            &--error {
                position: relative;
                left: 0;
                top: 0;
                
                @include desktop {
                    position: absolute;
                    left: 1rem;
                    top: 2.7rem;
                }
            }
        }

        &-email {
            @extend .input;
            padding: 0.6rem 2rem;
        }

        &-submit {
            @extend .input;
            margin-top: 0.5rem;
            padding: 0.5rem 2rem;

            @include desktop {
                margin: 0;
                max-width: 10rem;
            }
        }
    }

    &__dashboard-image {
        margin-top: 2rem;

        img {
            width: 33.125rem;
            margin-inline: auto;
        }
    }
}

.footer {
    @extend .center;

    &__midias {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 1rem;
        
        &-link {
            display: grid;
            place-items: center;
            position: relative;
            width: 2.1875rem;
            aspect-ratio: 1 / 1;
            font-size: 1.2rem;
            border-radius: 1.5625rem;
        }
    }
}