@use "colors" as *;

$fz: 20px;
$ff: 'Libre Franklin', sans-serif;

$fw-300: 300; 
$fw-600: 600;
$fw-700: 700;

$fz-paragraph: clamp(1rem, calc(.9rem + 0.36vw), 0.38rem);

$transtion: .3s all ease;

body {
    font-family: $ff;
    font-size: $fz;
}

.main {
    &__title {
        font-weight: $fw-300;
        color: $clr-gray;
        font-size: clamp(1.5rem, calc(1.02rem + 1.79vw), 3.13rem);

        .strong {
            color: $clr-very-dark-blue;
            font-weight: $fw-700;
        }
    }

    &__subtitle {
        font-weight: $fw-300;
        color: $clr-very-dark-blue;
        font-size: $fz-paragraph;
    }

    &__form {

        &-input-box--error {
            font-size: .8rem;
            color: $clr-light-red;
        }

        &-email {
            border: 1px solid $clr-pale-blue;
            font-size: $fz-paragraph;

            ::placeholder {
                color: $clr-pale-blue;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: $clr-pale-blue;
              }
              
              ::-ms-input-placeholder {
                color: $clr-pale-blue;
              }

            &--border {
                border: 1px solid $clr-light-red;
            }
        }

        &-submit {
            color: #fff;
            background-color: $clr-blue;
            font-weight: $fw-600;
            font-size: $fz-paragraph;
            cursor: pointer;
            box-shadow: 0px 6px 12px 0px $clr-pale-blue;
            transition: $transtion;

            &:hover,
            &:focus {
                background-color: hsl(223, 87%, 70%)
            }
        }
    }
}

.footer {
    &__copyright {
        font-size: $fz-paragraph;
        color: $clr-gray;
    }

    &__midias {
        &-link {
            border: 1px solid $clr-pale-blue;
            transition: $transtion;

            i {
                color: $clr-blue;
            }

            &:hover i,
            &:focus i {
                color: #fff;
            }

            &:hover,
            &:focus {
                background-color: $clr-blue;
            }
        }
    }
}